{% extends 'adminapp/base.html' %}
{% block content %}
<h1 class="mt-4">Продукты</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Продукты
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Название товара</th>
                    <th>Категория</th>
                    <th>Стоимость за 1 ед.</th>
                    <th>Скидка на 1 ед.</th>
                    <th>Количество на складе</th>
                    <th>Описание товара</th>
                    <th>Наличие изображения товара</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'admin_staff:admin_products_update' product.id %}" style="color: dodgerblue">
                            {{ product.name }}
                        </a>
                    </td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.description }}</td>
                    <td class="text-center">
                        {% if product.image is not null %}
                        <i class="fas fa-check-circle"></i>
                        {% else %}
                        <i class="fas fa-times-circle"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'admin_staff:admin_products_create' %}">
            <button class="btn btn-success">Создать продукт</button>
        </a>
    </div>
</div>
{% endblock %}
