{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} {{ title|title }} {% endblock %}
    </title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">

    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.formset.js' %}"></script>
    <script src="{% static 'js/orders_scripts.js' %}"></script>

</head>
<body>
<div class="container">
    <div class="text-center">
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>